<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">likeLion 4th at Ajou Univ.</h5>
        <p class="grey-text text-lighten-4">아주대학교 멋쟁이사자처럼 팀입니다.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="orange-text text-lighten-3" href="/credit">likeLion 4th at Ajou Univ.</a>
    </div>
  </div>
</footer>