<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/fest_manage" class="brand-logo"><img src="<%= image_url 'basic/festival_logo.png' %>"></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="white-text" href="/fest_manage/make/location">위치 정보 추가</a></li>
      <li><a class="white-text" href="/fest_manage/make/realtime">실시간 정보 추가</a></li>
      <li><a class="white-text" href="/logout" data-method="delete">로그아웃</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/fest_manage/make/location">위치 정보 추가</a></li>
      <li><a href="/fest_manage/make/realtime">실시간 정보 추가</a></li>
      <li><a href="/logout" data-method="delete">로그아웃</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="white-text material-icons">menu</i></a>
  </div>
</nav>