<footer class="page-footer teal Ssang" id="footer_font">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <span><h5><a class="white-text introduce_link" href="/credit">멋쟁이사자처럼 at 아주대학교 소개<i class="material-icons touch_icon">reply</i></a></h5></span>
        <div class="row">
          <div class="col s5 m5">
            <%= image_tag "basic/lion-logo.png", class: "lion-logo right" %>
          </div>
          <div class="col s1 m1">
            <h2 class="white-text">X</h2> 
          </div>
          <div class="col s5 m5">
            <%= image_tag "basic/APlus.png", class: "lion-logo left", width: "130rem", height: "120rem" %>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <h5 class="white-text">아주대학교 대동제 정보 웹 서비스 개발팀</h5>
        <p>
          <ul>
            <li class="white-text">전지원(소셜미디어)</li>
            <li class="white-text">김재현(미디어)</li>
            <li class="white-text">김경림(미디어)</li>
            <li class="white-text">나민지(소프트웨어)</li>
            <li class="white-text">김명선(경영)</li>
            <li class="white-text">강윤정(경영)</li>
            <li class="white-text">강두훈(경영)</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
  
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <a class="white-text text-lighten-3" href="/credit"> &copy; 2016 likeLion (멋쟁이사자처럼) at 아주대학교</a>&nbsp;&nbsp;
        <a href="http://ajou.likelion.org"><%= image_tag "basic/likelion-white.png", height: '10px' %></a>
      </div>
    </div>
  </div>
</footer>
